<!-- This is The Page Related to Product Crud Operations Only For Admins  -->
<app-helper-nav></app-helper-nav>
<div class="text-center text-warning my-2 h3">Admin DashBoard</div>
<div class="container my-2">
  <div class="row">
    <div class="col-md-6 my-5" *ngIf="loader">
      <mat-spinner></mat-spinner>
    </div>
    <!-- Rendering the Products Which are available -->
    <div class="col-md-6 my-5" *ngIf="!loader">
      <ul class="list-group shadow shadow-sm">
        <li class="list-group-item" *ngFor="let item of productsArr">
          <div class="row">
          <div class="col-md-2">
          {{item.name}}
          </div>
          <div class="col-md-3">
            {{getCategory(item.category)}}
          </div>
          <div class="col-md-2">
            {{item.price | currency :"INR"}}
          </div>
          <div class="col-md-2">
            <button mat-raised-button (click)="editItem(item)">Edit</button>
          </div>
          <div class="col-md-3">
            <button mat-raised-button color="warn" (click)="deleteItem(item)">Delete</button>
          </div>
        </div>
        </li>
      </ul>
      <div class="container my-3" *ngIf="item!.image.length > 0">
        <mat-card>
          <mat-card-content>
            <img style="width: 20rem; height: 200px;" mat-card-image [src] = "item!.image[0]" alt="Image Of Currently Selected Product">
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="col-md-6 my-2">
      <!-- This is the Main Form For Getting User Data -->
      <form class="form my-3" [formGroup]="frm" (submit)="submitData()">
        <div class="form-group border border-2 border-light p-3 shadow shadow-lg rounded-2" id="fg">
          <div *ngIf="!idValidity() && (this.frm?.get('id')?.dirty || this.frm?.get('id')?.touched)" class="alert alert-warning text-center">
            Must Have a proper Id
          </div>
          <label for="id" class="form-label">Enter Product Id*</label>
          <input type="text"  class="form-control mb-1" id="id" name="id" formControlName="id">

          <div *ngIf="!nameValidity() && (this.frm?.get('name')?.dirty || this.frm?.get('name')?.touched)" class="alert alert-warning text-center">
            Product Name is not Valid
          </div>
          <label for="name" class="form-label">Enter Product Name*</label>
          <input type="text" class="form-control mb-1" id="name" name="name" formControlName = "name">

          <div *ngIf="!categoryValidity() && (this.frm?.get('category')?.dirty || this.frm?.get('category')?.touched)" class="alert alert-warning text-center">
            Product Category is not Valid
           </div>
          <label for="category" class="form-label mb-1">Enter Product Category*</label>
          <select name="category" id="category" id="category" name="category" class="form-select" formControlName="category">
            <option class="form-switch" value="Daily">Daily</option>
            <option value="LifeStyle">LifeStyle</option>
            <option value="Medicinal">Medicinal</option>
            <option value="HouseHold">HouseHold</option>
            <option value="Toys">Toys</option>
            <option value="Electronics">Electronics</option>
            <option value="HomeAppiences">HomeAppiences</option>
          </select>


          <div *ngIf="!detailsValidity() && (this.frm?.get('details')?.dirty || this.frm?.get('details')?.touched)" class="alert alert-warning text-center">
            Product Details is not Valid
           </div>
          <label for="details" class="form-label">Enter Product Details*</label>
          <textarea type="text" class="form-control mb-1" id="details" name="details" formControlName="details"></textarea>


          <div *ngIf="!priceValidity() && (this.frm?.get('price')?.dirty || this.frm?.get('price')?.touched)" class="alert alert-warning text-center">
            Product Price is not Valid
           </div>
          <label for="price" class="form-label">Enter Price*</label>
          <input type="number" id="price" class="form-control mb-1" id="price" name="price" formControlName="price">

          <label for="image" class="form-label">Enter Main Image</label>
          <input type="text" class="form-control mb-1" id="image" name="image" formControlName="image">

          <div *ngIf="!feedbackValidity() && (this.frm?.get('feedback')?.dirty || this.frm?.get('feedback')?.touched)" class="alert alert-warning text-center">
            Product Details is not Valid
           </div>
          <label for="feedback" class="form-label">Enter Feedback About the Product</label>
          <textarea type="text" class="form-control mb-1" id="feedback" name="feedback" formControlName="feedback"></textarea>

        <div class="my-2">
            <button id="add" *ngIf="!isEdit"mat-raised-button color="primary" class="mx-2" [disabled] = "!isValid()" type="submit">Add Product</button>
            <button id="update" *ngIf="isEdit" mat-raised-button color="warning"  class="mx-2" [disabled] = "!isValid()" type="submit">Update Product</button>
            <button mat-button class="btn btn-outline-danger" type="reset">Reset</button>
        </div>
        </div>
      </form>
    </div>
  </div>
</div>
