
<!-- This is a simple 404 not Found page Rendered When Some unknown url is entered -->
<div class="container my-5">
  <div class="box four">
    <div class="clock">
      <div class="hour__hands"></div>
    </div>
  </div>
  <div class="box zero">
    <div class="clock">
      <div class="hour__hands"></div>
    </div>
  </div>
  <div class="box four">
    <div class="clock">
      <div class="hour__hands"></div>
    </div>
  </div>
</div>
<p class="error__msg">Can't Find What You Are Looking For!</p>
